DATABASE_URL=postgresql+asyncpg://pguser:pgpass@db:5432/taller
GOOGLE_CLIENT_ID=796669486946-5scu3sc2ag0cn15afu7n007a7j2affgs.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
JWT_SECRET_KEY=una_clave_muy_secreta_y_larga
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_URL=http://localhost:3001
BACKEND_URL=http://localhost:8000
